# This .gitignore is for the GitHub repo
# It ignores all extracted files from the dataset

# Ignore extracted server files
app/
scripts/
migrations/
hello_world/
minimal-space/
*.pyc
__pycache__/
*.db
*.sqlite
*.log
.env
.venv/
venv/
node_modules/

# Keep loader files visible
!github_loader.py
!startup.sh
!requirements.txt
!README.md
!index.html
!LICENSE

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
